.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;

  &.cssTransforms {
    transition-property: transform;
  }

  &.react-draggable {
    transition: box-shadow 0.2s;
  }

  &.resizing {
    z-index: 1;
    will-change: width, height;
  }

  &.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s;
  }

  &.react-grid-placeholder {
    //background: rgba(255,0,0,0.2);
    border: 3px dashed #999;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  & > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 3px;
    right: 3px;
    cursor: se-resize;

    &:after {
      content: "";
      position: absolute;
      right: 3px;
      bottom: 3px;
      width: 5px;
      height: 5px;
      border-right: 2px solid rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    }
  }
}

.drag-handle {
  background-color: #9fcdff;
}

.grid-widget {
  overflow: hidden;
}