.float-right {
  float: right;
}

.align-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.padded-top {
  padding-top: 1em;
}

.padded {
  padding: 3px;
}

.extra-margin {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  &.double {
    margin-bottom: 24px;
  }
}