table {
  width: 100%;
  border-collapse: collapse;

  thead {
    font-weight: bold;
    text-align: left;
  }

  tr:hover {
    background-color: rgba(255,255,255,0.6);
    color: #1b1e21;
  }

  tr td {
    padding: 3px;
    border-bottom: 0.5px solid rgba(0,0,0,0.1);

    &.icon-cell {
      text-align: center;
      padding: 3px 8px;
    }

    &.important {
      font-weight: bold;
      small {
        font-weight: normal;
      }
    }
  }

  &.initial {
    td {
      padding: 0;
      border: 0;
    }

    tr:hover {
      background-color: initial;
    }
  }
}