$radius_small: 3px;
$near: 1px 1px 6px;
$narrow-space: 3px;

:export { shortSlide: 0.4s }

.rounded-corner {
  border-radius: $radius_small;
}

.shadow-near {
  box-shadow: $near rgba(0,0,0,0.1);
}

.padding-narrow {
  padding: $narrow-space;
}

.padding-middle {
  padding: $narrow-space*2;
}

.padding-large {
  padding: $narrow-space*4;
}

#modal {
  position: relative;
  z-index: 10000;
}