body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #231F20;
}

button, input, textarea, select {
  font-family: "Roboto", sans-serif;
}

legend {
  font-size: 0.9em;
  padding: 0;
  font-weight: 700;
  width: 100%;
  //letter-spacing: 0.5px;

  display: flex;
  align-items: center;

  margin-bottom: 0.5em;

  &:after {
    background: #ccc;
    margin-left: 0.5em;
    height: 1px;
    flex: 1;
    content: '';
  }
}

p {
  font-size: 1em;
  line-height: 1.4em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 2.5em;
}

h2 {
  font-family: "Quicksand", sans-serif;
  //border-bottom: 2px solid #000;
  font-weight: 700;
  font-size: 1.4em;
}

h3 {
  font-family: "Quicksand", sans-serif;
  //border-bottom: 2px solid #000;
  font-weight: 700;
  font-size: 1.2em;
}

h4 {
  font-family: "Quicksand", sans-serif;
  //border-bottom: 2px solid #000;
  font-weight: 700;
  font-size: 1.0em;
}

h5, h6 {
  font-size: 1em;
}