@import 'styles/_typography.scss';
@import 'styles/_grid-layout.scss';
@import 'styles/flexboxgrid.css';
@import 'styles/_animations.scss';
@import 'styles/_tooltip.scss';
@import 'styles/_tables.scss';
@import 'styles/_elements.scss';
@import 'styles/_helper.scss';
@import 'styles/_layout.scss';

// resets not covered by normalized
//TODO: flexbox vendor-prefixen für IE10 https://caniuse.com/#feat=flexbox
body {
  margin: 0;
  padding: 0;
  hyphens: auto;
  height: 100%;
}

#flyout {
  //z-index: 9999;
  position: relative;
  overflow: hidden;
}

html, #root {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

a.no-styled-link {
  text-decoration: none;
  color: inherit;
}

#modal-portal-target {
  z-index: 9000;
}